@import "reset";



.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    height: 100vh;

    .username-submit {
        margin: 0 auto;
        max-width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;

        .name-wrapper {
            display: flex;
            flex-direction: column;
        }

        #btn {
            color: white;
            background-color: black;
            height: 2rem;
        }
    }
}

.disabled {
    background-color: grey;
    color: black;
    opacity: 0.5;
}

.dark{

}