@import "reset";
@import "variables";

body {
    font-family: sans-serif;
}


button {
    all: unset;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1rem;
    color: black;
    border-radius: 10px;
    background-color: $main-color-light;
    border: 2px solid black;
}

.wrapper {

    h1 {
        text-align: center;
        font-size: 2rem;
        margin: 1rem;
        max-width: 20ch;
        color: $secondary-color-light;

    }

    .username-submit {
        display: flex;
        flex-direction: column;
        align-items: center;

        label {
            text-align: center;
            max-width: 20ch;
            margin: 2rem 0 0.5rem 0;
            font-size: 1.5rem;
        }

        input {
            all: unset;
            height: 3rem;
            border-bottom: solid .14rem black;
            text-align: center;
            font-size: 1.1rem;
        }
    }

    .welcome {
        margin: 2rem auto;
        max-width: 25ch;
        white-space: pre-line;
        text-align: center;
        color: $secondary-color-light;
    }

    .main-content {
        width: 100%;

        .btn-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2rem 0;

            .select-rover-btn {
                width: 7rem;
                height: 2rem;
            }

            &>* {
                margin: 0.5rem 0;
            }
        }

        .rover-img-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 2rem 0;

            .camera-feed {
                min-width: 25rem;
                min-height: 25rem;
            }

            .msg {
                max-width: 35ch;
                text-align: center;
                color: $secondary-color-light;
                font-size: 1.2rem;
                margin-top: 2rem;
            }
        }
    }
}

.disabled {
    color: black;
    opacity: 0.5;
}

.dark_mode_style {
    background-color: black;
    color: $main-color-darkmode;

    input {
        background-color: black;
    }

    button {
        background-color: $secondary-color-darkmode;
    }

    h1 {
        color: $main-color-darkmode;
    }

    label {
        color: $main-color-darkmode;
    }

    .msg {
        color: $main-color-darkmode!important;
    }

    .welcome {
        color: $main-color-darkmode;
    }

    .dark_mode_button {
        color: rgb(211, 211, 114);
    }
}



.material-symbols-outlined {
    font-variation-settings:
        'FILL'0,
        'wght'400,
        'GRAD'0,
        'opsz'24
}

.theme_icon {
    font-size: 3rem;
    margin: 1rem;
}


.hidden {
    display: none;
}

.dark_mode_button {
    all: unset;
    cursor: pointer;
    background-color: transparent !important;
}